@model MedHub.Models.Quiz

@{
    ViewData["Title"] = "Удалить";
}
@if (User.Identity.IsAuthenticated)
{
<h3>Вы действительно хотите удалить "@Html.DisplayFor(model => model.Name)" </h3>
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Да" class="btn btn-danger" /> |
        <a asp-action="Index">Нет</a>
    </form>
</div>
}
